# Segmenting and Clustering Neighborhoods in Toronto (Week 3 Part 2)

### In order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [1]:
# Import required libraries
import pandas as pd
import numpy as np

### Read Geospatial file data

In [2]:
# Read the Geospatial file data
df_geo=pd.read_csv('https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv')
df_geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

### Rename column Postal Code and eliminate space

In [3]:
df_geo = df_geo.rename(columns = {'Postal Code':'PostalCode'})

### Read Part1 csv file that has Toronto data

In [4]:
df_part1=pd.read_csv('part1.csv',header=0)
df_part1.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Merge two dataframes using PostalCode

In [5]:
df=pd.merge(df_part1, df_geo, on = 'PostalCode').reset_index(drop=True)
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Show number of rows and columns in dataframe

In [6]:
df.shape

(103, 5)

## Save df into a CSV file to be used in Part 3 of assignment

In [7]:
# Save dataframe for Part 3
df.to_csv('part3.csv', index=False)
print('Saved file')

Saved file